In [2]:
from surprise import KNNBaseline
from surprise.model_selection import train_test_split
#import io  # needed because of weird encoding of u.item file
import pandas as pd
from surprise import Dataset
from surprise import get_dataset_dir
from surprise import KNNBasic
from surprise import Dataset
from surprise import Reader
#from collections import defaultdict
from operator import itemgetter
#import heapq
import os
#import json
import csv

In [1]:
pip install scikit-surprise

Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |████████████████████████████████| 11.8MB 299kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1617602 sha256=afe67957a962b048d64668cb803d78e8a020a7662b626dedc95314b63e4da78e
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [3]:
df_1=pd.read_csv('anime.csv')
df_1

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [ ]:
df.info()

NameError: ignored

In [4]:
df=pd.read_csv('rating.csv')
df

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
1026763     9786       430       8
1026764     9786       431       9
1026765     9786       469       9
1026766     9786       512      10
1026767     9786       513       8

[1026768 rows x 3 columns]

In [5]:
df_3=df['anime_id']

In [ ]:
df.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)
df

        user_id  anime_id  rating
0             1        20    -1.0
1             1        24    -1.0
2             1        79    -1.0
3             1       226    -1.0
4             1       241    -1.0
...         ...       ...     ...
630500     6067      1889    10.0
630501     6067      1953     8.0
630502     6067      2025     8.0
630503     6067      2034     9.0
630504     6067         2     NaN

[630505 rows x 3 columns]

In [6]:
df_4=pd.merge(df_3,df_1,on='anime_id')
df_4

         anime_id  ... members
0              20  ...  683297
1              20  ...  683297
2              20  ...  683297
3              20  ...  683297
4              20  ...  683297
...           ...  ...     ...
1026763      8140  ...     438
1026764     18137  ...     164
1026765     32503  ...     372
1026766     10238  ...      94
1026767      6031  ...     628

[1026768 rows x 7 columns]

In [ ]:
df_5=pd.merge(df_3,df_1,on='anime_id')
df_5

        anime_id                                    name  ... rating members
0             20                                  Naruto  ...   7.81  683297
1             20                                  Naruto  ...   7.81  683297
2             20                                  Naruto  ...   7.81  683297
3             20                                  Naruto  ...   7.81  683297
4             20                                  Naruto  ...   7.81  683297
...          ...                                     ...  ...    ...     ...
630499      3842                     Doubutsu Takarajima  ...   6.62     818
630500      2065                     Gall Force: New Era  ...   6.04     950
630501      2114  Tenkuu Senki Shurato: Sousei e no Anto  ...   6.81     916
630502     13139                               Gakkatsu!  ...   6.59    5208
630503      3232       Bannou Bunka Neko-Musume Specials  ...   6.72     950

[630504 rows x 7 columns]

In [7]:
df_4.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)
df_4

      anime_id  ... members
0           20  ...  683297
1           24  ...  178553
2           79  ...  158772
3          226  ...  623511
4          241  ...   84395
...        ...  ...     ...
8330      8140  ...     438
8331     18137  ...     164
8332     32503  ...     372
8333     10238  ...      94
8334      6031  ...     628

[8335 rows x 7 columns]

In [8]:
a=df_4[df_4['anime_id']==79]
a

   anime_id      name  ... rating members
2        79  Shuffle!  ...   7.31  158772

[1 rows x 7 columns]

In [ ]:
f=df[df['user_id']==8000]
f

Empty DataFrame
Columns: [user_id, anime_id, rating]
Index: []

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026768 entries, 0 to 1026767
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   user_id   1026768 non-null  int64
 1   anime_id  1026768 non-null  int64
 2   rating    1026768 non-null  int64
dtypes: int64(3)
memory usage: 23.5 MB

In [ ]:
d = {'user_id': [8000], 'anime_id': [241],'rating':[9.0]}
df_8=pd.DataFrame(data=d)

In [ ]:
df_g=df.append(df_8, ignore_index=True)

In [ ]:
df_g

        user_id  anime_id  rating
0             1        20    -1.0
1             1        24    -1.0
2             1        79    -1.0
3             1       226    -1.0
4             1       241    -1.0
...         ...       ...     ...
630501     6067      1953     8.0
630502     6067      2025     8.0
630503     6067      2034     9.0
630504     6067         2     NaN
630505     8000       241     9.0

[630506 rows x 3 columns]

In [ ]:
a=df[df['user_id']==1]
a

     user_id  anime_id  rating
0          1        20    -1.0
1          1        24    -1.0
2          1        79    -1.0
3          1       226    -1.0
4          1       241    -1.0
..       ...       ...     ...
148        1     30015    -1.0
149        1     30296    -1.0
150        1     30544    -1.0
151        1     31338    -1.0
152        1     31845    -1.0

[153 rows x 3 columns]

In [ ]:
df_4.head(5000)

      anime_id                                  name  ... rating members
0           20                                Naruto  ...   7.81  683297
1           24                         School Rumble  ...   8.06  178553
2           79                              Shuffle!  ...   7.31  158772
3          226                            Elfen Lied  ...   7.85  623511
4          241             Girls Bravo: First Season  ...   6.69   84395
...        ...                                   ...  ...    ...     ...
4995       266  Gunparade March: Arata Naru Kougunka  ...   6.96    9902
4996       359                        I&#039;ll/CKBC  ...   6.52    3425
4997       525                           Otogizoushi  ...   7.10   10591
4998       994                       Sin in the Rain  ...   5.22    1674
4999      1156                 I: Wish You Were Here  ...   6.22    6017

[5000 rows x 7 columns]

In [ ]:
df.rating.max()

10

In [ ]:
df.rating.min()

-1

In [10]:
def read_item_names():
    #"""Read the u.item file from MovieLens 100-k dataset and return two
    #mappings to convert raw ids into movie names and movie names into raw ids.
    #"""
    #reader = Reader(rating_scale=(1, 5))
    #data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)
    movieID_to_name={}
    movieName_to_movieID={}
    with open('anime.csv',encoding="utf8") as csvfile:
        for line in csvfile:
            line = line.split(',')
            movieID_to_name[line[0]] = line[1]
            movieName_to_movieID[line[1]] = line[0]

    return  movieID_to_name,movieName_to_movieID
movieID_to_name,movieName_to_movieID = read_item_names()

In [12]:
reader = Reader(rating_scale=(-1, 10))
data = Dataset.load_from_df(df[['user_id', 'anime_id', 'rating']], reader)

In [13]:
#from surprise.model_selection.split import train_test_split
#trainset, testset = train_test_split(data, test_size=0.25)
trainset = data.build_full_trainset()

In [14]:
from surprise.prediction_algorithms.knns import KNNBasic
sim_options = {'name': 'cosine',
               'user_based': False
               }
algo_knn_basic = KNNBasic(sim_options=sim_options)

predictions = algo_knn_basic.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [26]:
test_subject=241

In [ ]:
#pd.set_option('display.max_rows', 5000)

In [27]:
#toy_story_raw_id = movieName_to_movieID['Toy Story (1995)']
test_subject_iid=trainset.to_inner_iid(test_subject)

# Retrieve inner ids of the nearest neighbors of Toy Story.
#toy_story_neighbors = algo.get_neighbors(toy_story_inner_id, k=10)
toy_story_neighbors = predictions.get_neighbors(test_subject_iid, k=10)

In [28]:
final=[]
for inner_id in toy_story_neighbors:
    final.append(algo_knn_basic.trainset.to_raw_iid(inner_id))

In [29]:
result = pd.DataFrame(final, columns=['anime_id'])
#result.drop(columns = {'details'}, inplace = True)
#result['erro'] = abs(result['base_event'] - result['predict_event'])
result.head(50)

   anime_id
0      6695
1     25635
2      9032
3      1774
4     13053
5      9733
6     13629
7     14853
8     23023
9     23179

In [ ]:
#result1=result['anime_id']

In [ ]:
"""anime_ids=[]
for i in result1:
    anime_ids.append(df['anime_id'].iloc[i])
anime_ids"""

[24, 241, 442, 846, 936, 1836, 2001, 2144, 2787, 4744]

In [ ]:
"""dicty={
    'anime_id':anime_ids
}
df_f=pd.DataFrame(data=dicty)"""

In [30]:
df_final=pd.merge(result,df_1,on='anime_id')
df_final

   anime_id                                         name  ... rating members
0      6695                                      Mangchi  ...   6.31     461
1     25635                    Space☆Dandy Picture Drama  ...   6.17    2399
2      9032  Inazuma Eleven: Saikyou Gundan Ogre Shuurai  ...   7.49    6392
3      1774                            HeatGuy J Special  ...   7.30    1675
4     13053                                  Aimai Elegy  ...   6.91    1646
5      9733                                  The TV Show  ...   7.21    2066
6     13629                                       Furiko  ...   7.89    8809
7     14853                                      Tsukumo  ...   6.84    3772
8     23023              Peaceful Times (F02) Petit Film  ...   5.07    1650
9     23179                             Kyoukai no Rinne  ...   6.16    2983

[10 rows x 7 columns]

In [20]:
s=df_1[df_1['anime_id']==79]
s

      anime_id      name  ... rating members
2281        79  Shuffle!  ...   7.31  158772

[1 rows x 7 columns]

In [ ]:
from surprise import accuracy
mae_model = accuracy.mae(predictions)
rmse_model = accuracy.rmse(predictions)