In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 47.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=1808918fd7b4593ce2fbeaca9bed8de3b0f9612f83c784e65f9484a4cebdc5f0
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [10]:
names_list = ['ali','hassan','naghi','hashem','javad','kamal','farhad','goli','massod','nasim','bahar','reza','davood','sahba','sarvenaz','bejan','mona','hamid','jamshid','elahe']

In [11]:
names_list

['ali',
 'hassan',
 'naghi',
 'hashem',
 'javad',
 'kamal',
 'farhad',
 'goli',
 'massod',
 'nasim',
 'bahar',
 'reza',
 'davood',
 'sahba',
 'sarvenaz',
 'bejan',
 'mona',
 'hamid',
 'jamshid',
 'elahe']

In [4]:
from pyspark import SparkContext

In [5]:
sc = SparkContext('local', 'Names Example')

In [12]:
names_rdd = sc.parallelize(names_list)

In [13]:
names_rdd.collect()

['ali',
 'hassan',
 'naghi',
 'hashem',
 'javad',
 'kamal',
 'farhad',
 'goli',
 'massod',
 'nasim',
 'bahar',
 'reza',
 'davood',
 'sahba',
 'sarvenaz',
 'bejan',
 'mona',
 'hamid',
 'jamshid',
 'elahe']

In [14]:
len_names_pair_rdd = names_rdd.map(lambda x: (len(x),x))

In [15]:
len_names_pair_rdd.collect()

[(3, 'ali'),
 (6, 'hassan'),
 (5, 'naghi'),
 (6, 'hashem'),
 (5, 'javad'),
 (5, 'kamal'),
 (6, 'farhad'),
 (4, 'goli'),
 (6, 'massod'),
 (5, 'nasim'),
 (5, 'bahar'),
 (4, 'reza'),
 (6, 'davood'),
 (5, 'sahba'),
 (8, 'sarvenaz'),
 (5, 'bejan'),
 (4, 'mona'),
 (5, 'hamid'),
 (7, 'jamshid'),
 (5, 'elahe')]

In [16]:
grouped_len_names_pair_rdd = len_names_pair_rdd.groupByKey()

In [17]:
grouped_len_names_pair_rdd.collect()

[(3, <pyspark.resultiterable.ResultIterable at 0x7f8506552990>),
 (6, <pyspark.resultiterable.ResultIterable at 0x7f8506552ad0>),
 (5, <pyspark.resultiterable.ResultIterable at 0x7f850548e390>),
 (4, <pyspark.resultiterable.ResultIterable at 0x7f8506552f90>),
 (8, <pyspark.resultiterable.ResultIterable at 0x7f8505467cd0>),
 (7, <pyspark.resultiterable.ResultIterable at 0x7f85054676d0>)]

In [18]:
names_list

['ali',
 'hassan',
 'naghi',
 'hashem',
 'javad',
 'kamal',
 'farhad',
 'goli',
 'massod',
 'nasim',
 'bahar',
 'reza',
 'davood',
 'sahba',
 'sarvenaz',
 'bejan',
 'mona',
 'hamid',
 'jamshid',
 'elahe']

In [23]:
grouped_len_names_pair_rdd.map(lambda x : (x[0],list(x[1]))).collect()

[(3, ['ali']),
 (6, ['hassan', 'hashem', 'farhad', 'massod', 'davood']),
 (5,
  ['naghi',
   'javad',
   'kamal',
   'nasim',
   'bahar',
   'sahba',
   'bejan',
   'hamid',
   'elahe']),
 (4, ['goli', 'reza', 'mona']),
 (8, ['sarvenaz']),
 (7, ['jamshid'])]